@import '../_vars';
@import '_m';

html, body {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}
div, h1, h2, h3, h4, h5, h6, ul, ol, li, a, p, span {
  position: relative;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
div {
  box-sizing: border-box;
}
a:active, a:hover, a:focus, button:focus {
	outline: none;
}
table, td, th {
	margin:0;
	padding:0;
	background:none;
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	background-image:none;
}
a {
    color: #c88206;
}
h2 {
    a {
        font-weight: normal;
        font-size: 20px;
    }
}
