<div class="c-cards">
    <div class="c">

        <div class="c-cards__list">

            <div class="c-card">
                <div class="c-card__inner">
                    <a href="#" class="c-card__img" style="background: #00e2b5;">
                        <div class="c-card__link-logo"><img src="app/img/content/pitercsslogo.svg"></div>

                        <div class="c-card__header">
                            <div class="c-card__header-table">
                                <div class="c-card__header-cell">
                                    <h2 style="font-size: 25px;">Pitercss_8</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-card__tags-wrap">
                        <ul class="c-card__tags-list">
                            <li class="is-active"><a href="#">youtube</a></li>
                            <li><a href="#">pitercss</a></li>
                            <li><a href="#">pitercss_8</a></li>
                            <li><a href="#">Веб-стандарты</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="c-card c-card--markered">
                <div class="c-card__inner">
                    <a href="#" class="c-card__img" style="background: #00e2b5;">
                        <div class="c-card__link-logo"><img src="app/img/content/pitercsslogo.svg"></div>
                        <div class="c-card__marker">me</div>
                        <div class="c-card__header">
                            <div class="c-card__header-table">
                                <div class="c-card__header-cell">
                                    <h2 style="font-size: 20px;">Как хакнуть фронтенд</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-card__tags-wrap">
                        <ul class="c-card__tags-list">
                            <li><a href="#">youtube</a></li>
                            <li><a href="#">pitercss</a></li>
                            <li><a href="#">pitercss_8</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="c-card c-card--markered">
                <div class="c-card__inner">
                    <a href="#" class="c-card__img" style="background: #00e2b5;">
                        <div class="c-card__link-logo"><img src="app/img/content/pitercsslogo.svg"></div>
                        <div class="c-card__marker">me</div>
                        <div class="c-card__header">
                            <div class="c-card__header-table">
                                <div class="c-card__header-cell">
                                    <h2 style="font-size: 14px;">Пользовательские свойства как основа архитектуры CSS</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-card__tags-wrap">
                        <ul class="c-card__tags-list">
                            <li><a href="#">youtube</a></li>
                            <li><a href="#">pitercss</a></li>
                            <li><a href="#">pitercss_8</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="c-card">
                <div class="c-card__inner">
                    <a href="#" class="c-card__img" style="background: #00e2b5;">
                        <div class="c-card__link-logo"><img src="app/img/content/pitercsslogo.svg"></div>

                        <div class="c-card__header">
                            <div class="c-card__header-table">
                                <div class="c-card__header-cell">
                                    <h2 style="font-size: 19px;">Собираем фронтенд с Webpack </h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-card__tags-wrap">
                        <ul class="c-card__tags-list">
                            <li><a href="#">youtube</a></li>
                            <li><a href="#">pitercss</a></li>
                            <li><a href="#">pitercss_8</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="c-card">
                <div class="c-card__inner">
                    <a href="#" class="c-card__img" style="background: #00e2b5;">
                        <div class="c-card__link-logo"><img src="app/img/content/pitercsslogo.svg"></div>

                        <div class="c-card__header">
                            <div class="c-card__header-table">
                                <div class="c-card__header-cell">
                                    <h2 style="font-size: 19px;">Пишем тесты прямо в браузере</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-card__tags-wrap">
                        <ul class="c-card__tags-list">
                            <li><a href="#">youtube</a></li>
                            <li><a href="#">pitercss</a></li>
                            <li><a href="#">pitercss_8</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="c-card c-card--markered">
                <div class="c-card__inner">
                    <a href="#" class="c-card__img" style="background: #00e2b5;">
                        <div class="c-card__link-logo"><img src="app/img/content/pitercsslogo.svg"></div>
                        <div class="c-card__marker">me</div>
                        <div class="c-card__header">
                            <div class="c-card__header-table">
                                <div class="c-card__header-cell">
                                    <h2 style="font-size: 22px;">Вы не знаете CSS</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-card__tags-wrap">
                        <ul class="c-card__tags-list">
                            <li><a href="#">youtube</a></li>
                            <li><a href="#">pitercss</a></li>
                            <li><a href="#">pitercss_8</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="c-cards__more-wrap">

            <div class="b-more-button">
                <div class="b-more-button__button">See next 6</div>
                <div class="b-more-button__info-wrap">
                    <div class="b-more-button__info-text">Opened 6 from 721</div>
                </div>
            </div>

        </div>

    </div>
</div>
