<div class="c-card">
    <div class="c-card__inner">
        <a href="#" class="c-card__img" style="background: #00e2b5;">
            <div class="c-card__link-logo"><img src="/app/img/content/pitercsslogo.svg"></div>
            <div class="c-card__marker">me</div>
            <div class="c-card__header">
                <div class="c-card__header-table">
                    <div class="c-card__header-cell">
                        <h2>Pitercss_8</h2>
                    </div>
                </div>
            </div>
        </a>
        <div class="c-card__tags-wrap">
            <ul class="c-card__tags-list">
                <li><a href="#">youtube</a></li>
                <li><a href="#">pitercss</a></li>
                <li><a href="#">pitercss_8</a></li>
            </ul>
        </div>
    </div>
</div>
