<div class="c-filter">

    <div class="b-path">
        <div class="b-path__item"><a href="#">PiterCSS</a></div>
        <div class="b-path__item"><span class="b-path__filter-open">...</span></div>
    </div>

</div>
