<div class='c-lala'>
  <div class='box_1_1'></div>
  <div class='box_2_1'></div>
  <div class='box_3_1'></div>
  <div class='box_4_1'></div>
  <div class='box_5_1'></div>
  <div class='box_6_1'></div>
  <div class='box_7_1'></div>
  <div class='box_8_1'></div>
  <div class='box_9_1'></div>
  <div class='box_10_1'></div>
  <div class='box_11_1'></div>
  <div class='box_12_1'></div>
  <div class='box_13_1'></div>
  <div class='box_14_1'></div>
  <div class='box_15_1'></div>
  <div class='box_16_1'></div>
  <div class='box_17_1'></div>
  <div class='box_18_1'></div>
  <div class='box_19_1'></div>
  <div class='box_20_1'></div>
  <div class='box_21_1'></div>
  <div class='box_22_1'></div>
  <div class='box_23_1'></div>
  <div class='box_24_1'></div>
  <div class='box_25_1'></div>
  <div class='box_26_1'></div>
  <div class='box_1_2'></div>
  <div class='box_2_2'></div>
  <div class='box_3_2'></div>
  <div class='box_4_2'></div>
  <div class='box_5_2'></div>
  <div class='box_6_2'></div>
  <div class='box_7_2'></div>
  <div class='box_8_2'></div>
  <div class='box_9_2'></div>
  <div class='box_10_2'></div>
  <div class='box_11_2'></div>
  <div class='box_12_2'></div>
  <div class='box_13_2'></div>
  <div class='box_14_2'></div>
  <div class='box_15_2'></div>
  <div class='box_16_2'></div>
  <div class='box_17_2'></div>
  <div class='box_18_2'></div>
  <div class='box_19_2'></div>
  <div class='box_20_2'></div>
  <div class='box_21_2'></div>
  <div class='box_22_2'></div>
  <div class='box_23_2'></div>
  <div class='box_24_2'></div>
  <div class='box_25_2'></div>
  <div class='box_26_2'></div>
  <div class='box_1_3'></div>
  <div class='box_2_3'></div>
  <div class='box_3_3'></div>
  <div class='box_4_3'></div>
  <div class='box_5_3'></div>
  <div class='box_6_3'></div>
  <div class='box_7_3'></div>
  <div class='box_8_3'></div>
  <div class='box_9_3'></div>
  <div class='box_10_3'></div>
  <div class='box_11_3'></div>
  <div class='box_12_3'></div>
  <div class='box_13_3'></div>
  <div class='box_14_3'></div>
  <div class='box_15_3'></div>
  <div class='box_16_3'></div>
  <div class='box_17_3'></div>
  <div class='box_18_3'></div>
  <div class='box_19_3'></div>
  <div class='box_20_3'></div>
  <div class='box_21_3'></div>
  <div class='box_22_3'></div>
  <div class='box_23_3'></div>
  <div class='box_24_3'></div>
  <div class='box_25_3'></div>
  <div class='box_26_3'></div>
  <div class='box_1_4'></div>
  <div class='box_2_4'></div>
  <div class='box_3_4'></div>
  <div class='box_4_4'></div>
  <div class='box_5_4'></div>
  <div class='box_6_4'></div>
  <div class='box_7_4'></div>
  <div class='box_8_4'></div>
  <div class='box_9_4'></div>
  <div class='box_10_4'></div>
  <div class='box_11_4'></div>
  <div class='box_12_4'></div>
  <div class='box_13_4'></div>
  <div class='box_14_4'></div>
  <div class='box_15_4'></div>
  <div class='box_16_4'></div>
  <div class='box_17_4'></div>
  <div class='box_18_4'></div>
  <div class='box_19_4'></div>
  <div class='box_20_4'></div>
  <div class='box_21_4'></div>
  <div class='box_22_4'></div>
  <div class='box_23_4'></div>
  <div class='box_24_4'></div>
  <div class='box_25_4'></div>
  <div class='box_26_4'></div>
  <div class='box_1_5'></div>
  <div class='box_2_5'></div>
  <div class='box_3_5'></div>
  <div class='box_4_5'></div>
  <div class='box_5_5'></div>
  <div class='box_6_5'></div>
  <div class='box_7_5'></div>
  <div class='box_8_5'></div>
  <div class='box_9_5'></div>
  <div class='box_10_5'></div>
  <div class='box_11_5'></div>
  <div class='box_12_5'></div>
  <div class='box_13_5'></div>
  <div class='box_14_5'></div>
  <div class='box_15_5'></div>
  <div class='box_16_5'></div>
  <div class='box_17_5'></div>
  <div class='box_18_5'></div>
  <div class='box_19_5'></div>
  <div class='box_20_5'></div>
  <div class='box_21_5'></div>
  <div class='box_22_5'></div>
  <div class='box_23_5'></div>
  <div class='box_24_5'></div>
  <div class='box_25_5'></div>
  <div class='box_26_5'></div>
  <div class='box_1_6'></div>
  <div class='box_2_6'></div>
  <div class='box_3_6'></div>
  <div class='box_4_6'></div>
  <div class='box_5_6'></div>
  <div class='box_6_6'></div>
  <div class='box_7_6'></div>
  <div class='box_8_6'></div>
  <div class='box_9_6'></div>
  <div class='box_10_6'></div>
  <div class='box_11_6'></div>
  <div class='box_12_6'></div>
  <div class='box_13_6'></div>
  <div class='box_14_6'></div>
  <div class='box_15_6'></div>
  <div class='box_16_6'></div>
  <div class='box_17_6'></div>
  <div class='box_18_6'></div>
  <div class='box_19_6'></div>
  <div class='box_20_6'></div>
  <div class='box_21_6'></div>
  <div class='box_22_6'></div>
  <div class='box_23_6'></div>
  <div class='box_24_6'></div>
  <div class='box_25_6'></div>
  <div class='box_26_6'></div>
  <div class='box_1_7'></div>
  <div class='box_2_7'></div>
  <div class='box_3_7'></div>
  <div class='box_4_7'></div>
  <div class='box_5_7'></div>
  <div class='box_6_7'></div>
  <div class='box_7_7'></div>
  <div class='box_8_7'></div>
  <div class='box_9_7'></div>
  <div class='box_10_7'></div>
  <div class='box_11_7'></div>
  <div class='box_12_7'></div>
  <div class='box_13_7'></div>
  <div class='box_14_7'></div>
  <div class='box_15_7'></div>
  <div class='box_16_7'></div>
  <div class='box_17_7'></div>
  <div class='box_18_7'></div>
  <div class='box_19_7'></div>
  <div class='box_20_7'></div>
  <div class='box_21_7'></div>
  <div class='box_22_7'></div>
  <div class='box_23_7'></div>
  <div class='box_24_7'></div>
  <div class='box_25_7'></div>
  <div class='box_26_7'></div>
  <div class='box_1_8'></div>
  <div class='box_2_8'></div>
  <div class='box_3_8'></div>
  <div class='box_4_8'></div>
  <div class='box_5_8'></div>
  <div class='box_6_8'></div>
  <div class='box_7_8'></div>
  <div class='box_8_8'></div>
  <div class='box_9_8'></div>
  <div class='box_10_8'></div>
  <div class='box_11_8'></div>
  <div class='box_12_8'></div>
  <div class='box_13_8'></div>
  <div class='box_14_8'></div>
  <div class='box_15_8'></div>
  <div class='box_16_8'></div>
  <div class='box_17_8'></div>
  <div class='box_18_8'></div>
  <div class='box_19_8'></div>
  <div class='box_20_8'></div>
  <div class='box_21_8'></div>
  <div class='box_22_8'></div>
  <div class='box_23_8'></div>
  <div class='box_24_8'></div>
  <div class='box_25_8'></div>
  <div class='box_26_8'></div>
  <div class='box_1_9'></div>
  <div class='box_2_9'></div>
  <div class='box_3_9'></div>
  <div class='box_4_9'></div>
  <div class='box_5_9'></div>
  <div class='box_6_9'></div>
  <div class='box_7_9'></div>
  <div class='box_8_9'></div>
  <div class='box_9_9'></div>
  <div class='box_10_9'></div>
  <div class='box_11_9'></div>
  <div class='box_12_9'></div>
  <div class='box_13_9'></div>
  <div class='box_14_9'></div>
  <div class='box_15_9'></div>
  <div class='box_16_9'></div>
  <div class='box_17_9'></div>
  <div class='box_18_9'></div>
  <div class='box_19_9'></div>
  <div class='box_20_9'></div>
  <div class='box_21_9'></div>
  <div class='box_22_9'></div>
  <div class='box_23_9'></div>
  <div class='box_24_9'></div>
  <div class='box_25_9'></div>
  <div class='box_26_9'></div>
  <div class='box_1_10'></div>
  <div class='box_2_10'></div>
  <div class='box_3_10'></div>
  <div class='box_4_10'></div>
  <div class='box_5_10'></div>
  <div class='box_6_10'></div>
  <div class='box_7_10'></div>
  <div class='box_8_10'></div>
  <div class='box_9_10'></div>
  <div class='box_10_10'></div>
  <div class='box_11_10'></div>
  <div class='box_12_10'></div>
  <div class='box_13_10'></div>
  <div class='box_14_10'></div>
  <div class='box_15_10'></div>
  <div class='box_16_10'></div>
  <div class='box_17_10'></div>
  <div class='box_18_10'></div>
  <div class='box_19_10'></div>
  <div class='box_20_10'></div>
  <div class='box_21_10'></div>
  <div class='box_22_10'></div>
  <div class='box_23_10'></div>
  <div class='box_24_10'></div>
  <div class='box_25_10'></div>
  <div class='box_26_10'></div>
  <div class='box_1_11'></div>
  <div class='box_2_11'></div>
  <div class='box_3_11'></div>
  <div class='box_4_11'></div>
  <div class='box_5_11'></div>
  <div class='box_6_11'></div>
  <div class='box_7_11'></div>
  <div class='box_8_11'></div>
  <div class='box_9_11'></div>
  <div class='box_10_11'></div>
  <div class='box_11_11'></div>
  <div class='box_12_11'></div>
  <div class='box_13_11'></div>
  <div class='box_14_11'></div>
  <div class='box_15_11'></div>
  <div class='box_16_11'></div>
  <div class='box_17_11'></div>
  <div class='box_18_11'></div>
  <div class='box_19_11'></div>
  <div class='box_20_11'></div>
  <div class='box_21_11'></div>
  <div class='box_22_11'></div>
  <div class='box_23_11'></div>
  <div class='box_24_11'></div>
  <div class='box_25_11'></div>
  <div class='box_26_11'></div>
  <div class='box_1_12'></div>
  <div class='box_2_12'></div>
  <div class='box_3_12'></div>
  <div class='box_4_12'></div>
  <div class='box_5_12'></div>
  <div class='box_6_12'></div>
  <div class='box_7_12'></div>
  <div class='box_8_12'></div>
  <div class='box_9_12'></div>
  <div class='box_10_12'></div>
  <div class='box_11_12'></div>
  <div class='box_12_12'></div>
  <div class='box_13_12'></div>
  <div class='box_14_12'></div>
  <div class='box_15_12'></div>
  <div class='box_16_12'></div>
  <div class='box_17_12'></div>
  <div class='box_18_12'></div>
  <div class='box_19_12'></div>
  <div class='box_20_12'></div>
  <div class='box_21_12'></div>
  <div class='box_22_12'></div>
  <div class='box_23_12'></div>
  <div class='box_24_12'></div>
  <div class='box_25_12'></div>
  <div class='box_26_12'></div>
  <div class='c-lala__button'></div>
  <div class="c-lala__time" id="lalatime"></div>
</div>
