<div class="c-one">
    <div class="c">

        <div class="c-one__header">
            <a href="index.html" class="b-back-button"></a>
            <div class="c-one__link-wrap">
                <a href="https://youtu.be/4fEqptmymRM">https://youtu.be/4fEqptmymRM</a>
            </div>
        </div>

        <div class="c-one__columns">
            <div class="c-one__left-col">

                <div class="c-card">
                    <div class="c-card__inner">
                        <div class="c-card__img" style="background: #00e2b5;">
                            <div class="c-card__link-logo"><img src="app/img/content/pitercsslogo.svg"></div>

                            <div class="c-card__header">
                                <div class="c-card__header-table">
                                    <div class="c-card__header-cell">
                                        <h2 style="font-size: 20px;">Пользовательские свойства как основа архитектуры CSS</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-card__tags-wrap">
                            <ul class="c-card__tags-list">
                                <li><a href="#">youtube</a></li>
                                <li><a href="#">pitercss</a></li>
                                <li><a href="#">pitercss_8</a></li>
                                <li><a href="#">Веб-стандарты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="c-one__right-col">

                <div>
                    <div class="c-tabs jsTabs">
                        <ul class="c-tabs__list">
                            <li class="is-active"><span>Description</span></li>
                            <li><span>Abstract</span></li>
                        </ul>
                        <div class="c-tabs__content">
                            <div class="is-active">
                                description
                            </div>
                            <div>
                                abstract
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
