<div class="c-top">
    <div class="c">
        <div class="c-top__slider-wrap">
            <div class="c-top__slider jsTopSlider">

                <div class="c-top__slider-item c-top__slider-item--big-left">
                    <div class="c-top__slider-inner">
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-1.png", "c-topcard-bg": "#dfceb9", "c-topcard-text-color": "#b7a185", "c-topcard-header": "- 20% на кровати и матрасы", "c-topcard-description": "" })
                            </div>
                        </div>
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-2.png", "c-topcard-secondary-img": "app/img/content/c-topcard-secondary-img-2.png", "c-topcard-bg": "#d0dde6", "c-topcard-text-color": "#79a3c0", "c-topcard-header": "Дарим одеяло и 2 подушки", "c-topcard-description": "При покупке мягкой кровати и матраса" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-top__slider-item c-top__slider-item--big-right">
                    <div class="c-top__slider-inner">
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-1.png", "c-topcard-bg": "#dfceb9", "c-topcard-text-color": "#b7a185", "c-topcard-header": "- 20% на кровати и матрасы", "c-topcard-description": "" })
                            </div>
                        </div>
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-2.png", "c-topcard-secondary-img": "app/img/content/c-topcard-secondary-img-2.png", "c-topcard-bg": "#d0dde6", "c-topcard-text-color": "#79a3c0", "c-topcard-header": "Дарим одеяло и 2 подушки", "c-topcard-description": "При покупке мягкой кровати и матраса" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-top__slider-item c-top__slider-item--big-left">
                    <div class="c-top__slider-inner">
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-2.png", "c-topcard-secondary-img": "app/img/content/c-topcard-secondary-img-2.png", "c-topcard-bg": "#d0dde6", "c-topcard-text-color": "#79a3c0", "c-topcard-header": "Дарим одеяло и 2 подушки", "c-topcard-description": "При покупке мягкой кровати и матраса" })
                            </div>
                        </div>
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-1.png", "c-topcard-bg": "#dfceb9", "c-topcard-text-color": "#b7a185", "c-topcard-header": "- 20% на кровати и матрасы", "c-topcard-description": "" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-top__slider-item">
                    <div class="c-top__slider-inner">
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-1.png", "c-topcard-bg": "#dfceb9", "c-topcard-text-color": "#b7a185", "c-topcard-header": "- 20% на кровати и матрасы", "c-topcard-description": "" })
                            </div>
                        </div>
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-2.png", "c-topcard-secondary-img": "app/img/content/c-topcard-secondary-img-2.png", "c-topcard-bg": "#d0dde6", "c-topcard-text-color": "#79a3c0", "c-topcard-header": "Дарим одеяло и 2 подушки", "c-topcard-description": "При покупке мягкой кровати и матраса" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-top__slider-item">
                    <div class="c-top__slider-inner">
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-1.png", "c-topcard-bg": "#dfceb9", "c-topcard-text-color": "#b7a185", "c-topcard-header": "- 20% на кровати и матрасы", "c-topcard-description": "" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-top__slider-item">
                    <div class="c-top__slider-inner">
                        <div class="c-top__card-item">
                            <div class="c-top__card-inner">
                                @@include('../containers/_c-topcard.html', { "c-topcard-main-img": "app/img/content/c-topcard-main-img-2.png", "c-topcard-secondary-img": "app/img/content/c-topcard-secondary-img-2.png", "c-topcard-bg": "#d0dde6", "c-topcard-text-color": "#79a3c0", "c-topcard-header": "Дарим одеяло и 2 подушки", "c-topcard-description": "При покупке мягкой кровати и матраса" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
