<div class="c-text">
    <div class="c">
        <h1>Content</h1>

        <h2>JavaScript Fundamentals</h2>
        <ul>
            <li><a href="content-page.html">JS motivation</a></li>
            <li><a href="content-page.html">The modern mode, "use strict"</a></li>
            <li><a href="content-page.html">Variables</a></li>
            <li><a href="content-page.html">Data types</a></li>
            <li><a href="content-page.html">Type Conversions</a></li>
            <li><a href="content-page.html">Operators</a></li>
            <li><a href="content-page.html">Comparisons</a></li>
            <li><a href="content-page.html">Interaction: alert, prompt, confirm</a></li>
            <li><a href="content-page.html">Conditional operators: if, '?'</a></li>
            <li><a href="content-page.html">Logical operators</a></li>
            <li><a href="content-page.html">Loops: while and for</a></li>
            <li><a href="content-page.html">The "switch" statement</a></li>
            <li><a href="content-page.html">Functions</a></li>
            <li><a href="content-page.html">Function expressions and arrows</a></li>
            <li><a href="content-page.html">JavaScript specials</a></li>
        </ul>

        <h2>Objects: the basics</h2>
        <ul>
            <li><a href="content-page.html">Objects</a></li>
            <li><a href="content-page.html">Garbage collection</a></li>
            <li><a href="content-page.html">Symbol type</a></li>
            <li><a href="content-page.html">Object methods, "this"</a></li>
            <li><a href="content-page.html">Object to primitive conversion</a></li>
            <li><a href="content-page.html">Constructor, operator "new"</a></li>
        </ul>

        <h2>Data types</h2>
        <ul>
            <li><a href="content-page.html">Methods of primitives</a></li>
            <li><a href="content-page.html">Numbers</a></li>
            <li><a href="content-page.html">Strings</a></li>
            <li><a href="content-page.html">Arrays</a></li>
            <li><a href="content-page.html">Array methods</a></li>
            <li><a href="content-page.html">Iterables</a></li>
            <li><a href="content-page.html">Map, Set, WeakMap and WeakSet</a></li>
            <li><a href="content-page.html">Object.keys, values, entries</a></li>
            <li><a href="content-page.html">Destructuring assignment</a></li>
            <li><a href="content-page.html">Date and time</a></li>
            <li><a href="content-page.html">JSON methods, toJSON</a></li>
        </ul>

        <h2>Advanced working with functions</h2>
        <ul>
            <li><a href="content-page.html">Recursion and stack</a></li>
            <li><a href="content-page.html">Rest parameters and spread operator</a></li>
            <li><a href="content-page.html">Closure</a></li>
            <li><a href="content-page.html">The old "var"</a></li>
            <li><a href="content-page.html">Global object</a></li>
            <li><a href="content-page.html">Function object, NFE</a></li>
            <li><a href="content-page.html">The "new Function" syntax</a></li>
            <li><a href="content-page.html">Scheduling: setTimeout and setInterval</a></li>
            <li><a href="content-page.html">Decorators and forwarding, call/apply</a></li>
            <li><a href="content-page.html">Function binding</a></li>
            <li><a href="content-page.html">Currying and partials</a></li>
            <li><a href="content-page.html">Arrow functions revisited</a></li>
        </ul>

        <h2>Objects, classes, inheritance</h2>
        <ul>
            <li><a href="content-page.html">Property flags and descriptors</a></li>
            <li><a href="content-page.html">Property getters and setters</a></li>
            <li><a href="content-page.html">Prototypal inheritance</a></li>
            <li><a href="content-page.html">F.prototype</a></li>
            <li><a href="content-page.html">Native prototypes</a></li>
            <li><a href="content-page.html">Methods for prototypes</a></li>
            <li><a href="content-page.html">Class patterns</a></li>
            <li><a href="content-page.html">Classes</a></li>
            <li><a href="content-page.html">Class inheritance, super</a></li>
            <li><a href="content-page.html">Class checking: "instanceof"</a></li>
            <li><a href="content-page.html">Mixins</a></li>
        </ul>

        <h2>Document</h2>
        <ul>
            <li><a href="content-page.html">Browser environment, specs</a></li>
            <li><a href="content-page.html">DOM tree</a></li>
            <li><a href="content-page.html">Walking the DOM</a></li>
            <li><a href="content-page.html">Searching: getElement* and querySelector*</a></li>
            <li><a href="content-page.html">Node properties: type, tag and contents</a></li>
            <li><a href="content-page.html">Attributes and properties</a></li>
            <li><a href="content-page.html">Modifying the document</a></li>
            <li><a href="content-page.html">Styles and classes</a></li>
            <li><a href="content-page.html">Element size and scrolling</a></li>
            <li><a href="content-page.html">Window sizes and scrolling</a></li>
            <li><a href="content-page.html">Coordinates</a></li>
        </ul>

        <h2></h2>
        <ul>
            <li><a href="content-page.html"></a></li>

        </ul>

    </div>
</div>
