<div class="c-topcard" style="background-color: @@c-topcard-bg">

    <div class="c-topcard__timer">

        <div class="c-timer">
            <div class="c-timer__description">
                До окончания <br>акции:
            </div>
            <div class="c-timer__numbers-list">
                <div class="c-timer__num-list-item">
                    <div>21</div>
                    <div>день</div>
                </div>
                <div class="c-timer__num-list-item">
                    <div>10</div>
                    <div>час</div>
                </div>
                <div class="c-timer__num-list-item">
                    <div>48</div>
                    <div>минут</div>
                </div>
            </div>
        </div>

    </div>

    <div class="c-topcard__inner">
        <div class="c-topcard__table" style="color: @@c-topcard-text-color">
            <div class="c-topcard__table-row">
                <div class="c-topcard__table-cell">
                    <h2 class="c-topcard__header">
                        @@c-topcard-header
                    </h2>
                    <p class="c-topcard__description">
                        @@c-topcard-description
                    </p>
                </div>
            </div>
            <div class="c-topcard__table-row">
                <div class="c-topcard__table-cell">
                    <div class="c-topcard__main-img" style="background-image: url('@@c-topcard-main-img')"></div>
                </div>
            </div>
        </div>
        <div class="c-topcard__bottom-button-wrap">
            <a href="" class="c-topcard__bottom-button">
                Подробнее
            </a>
        </div>
    </div>

    <div class="c-topcard__secondary-img" style="background-image: url('@@c-topcard-secondary-img')"></div>

</div>
