.c-header {
    background: #f1c900 -webkit-linear-gradient(-72deg,#f3e000 27%,#f3b200 50%);
    .c {
        text-align: center;
    }
    &__book-img {
        position: relative;
        top: 40px;
    }
}
