body {
  --box-size: calc(100% / 26);
  --main-color: white;
}
.c-lala {
  background: radial-gradient(yellow 10%, green 67%);
}
.c-lala:after {
  content: '';
  display: block;
  clear: both;
}
div[class*='box_'] {
  width: var(--box-size);
  padding-bottom: var(--box-size);
  float: left;
  border: 1px solid transparent;
  box-sizing: border-box;
}
div[class*='box_']:hover {
  border: 1px solid white;
}
/* L1 */
.box_4_6,
.box_4_7,
.box_4_8,
.box_4_9,
.box_4_10,
.box_5_10,
.box_6_10 {
  background-color: var(--main-color);
}
/* A1 */
.box_9_7,
.box_9_8,
.box_9_9,
.box_9_10,
.box_10_6, .box_11_6,
.box_10_8, .box_11_8,
.box_12_7,
.box_12_8,
.box_12_9,
.box_12_10 {
  background-color: var(--main-color);
}
/* L2 */
.box_15_6,
.box_15_7,
.box_15_8,
.box_15_9,
.box_15_10,
.box_16_10,
.box_17_10 {
  background-color: var(--main-color);
}
/* A2 */
.box_20_7,
.box_20_8,
.box_20_9,
.box_20_10,
.box_21_6, .box_22_6,
.box_21_8, .box_22_8,
.box_23_7,
.box_23_8,
.box_23_9,
.box_23_10 {
  background-color: var(--main-color);
}
/* avatar */
.box_25_2 {
  background-color: var(--main-color);
}
.c-lala__button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10%;
  left: 50%;
  margin-left: -25px;
  background-color: transparent;
  display: block;
  border: 1px solid var(--main-color);
  border-radius: 200px;
}
