$c-topcard-border-width: 5px;
$c-topcard-border-color: white;
$c-topcard-inner-x-padding: 60px;
.c-topcard {
    background: #dfceb9;
    height: 480px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    &__timer {
        position: absolute;
        top: 20px;
        right: $c-topcard-inner-x-padding;
    }
    &__inner {
        position: absolute;
        top: 85px;
        right: $c-topcard-inner-x-padding;
        bottom: 85px;
        left: $c-topcard-inner-x-padding;
        border-right: $c-topcard-border-width solid $c-topcard-border-color;
        z-index: 100;
    }
    &__bottom-button-wrap {
        position: absolute;
        bottom: -25px;
        left: 0;
        right: 0;
        overflow-x: hidden;
    }
    &__bottom-button {
        display: inline-block;
        background-color: #0075be;
        padding-left: 45px;
        padding-right: 45px;
        color: white;
        text-transform: uppercase;
        font-family: 'DaysRegular';
        font-size: 11px;
        line-height: 56px;
        height: 56px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
            background-color: #3391cb;
        }
        &:after {
            content: '';
            display: block;
            width: 1000px;
            height: $c-topcard-border-width;
            background: $c-topcard-border-color;
            position: absolute;
            bottom: 25px;
            left: 100%;
            margin-left: 30px;
            pointer-events: none;
        }
    }
    &__table {
        display: table;
        width: 100%;
        height: 100%;
        color: white;
        top: -12px;
    }
    &__table-row {
        display: table-row;
        width: 100%;
        &:nth-child(1) {
            .c-topcard__table-cell {
                overflow: hidden;
            }
        }
        &:nth-child(2) {
            height: 100%;
            .c-topcard__table-cell {
                &:after {
                    content: '';
                    display: block;
                    width: $c-topcard-border-width;
                    background: $c-topcard-border-color;
                    position: absolute;
                    top: 12px;
                    bottom: 50px;
                    left: 0;
                    pointer-events: none;
                }
            }
        }
    }
    &__table-cell {
        display: table-cell;
        width: 100%;
        padding-right: 30px;
    }
    &__header {
        font-family: 'DaysRegular';
        font-size: 36px;
        line-height: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        z-index: 400;
        &:after {
            content: '';
            display: block;
            width: 1000px;
            height: $c-topcard-border-width;
            background: $c-topcard-border-color;
            position: absolute;
            top: 12px;
            left: 100%;
            margin-left: 15px;
            pointer-events: none;
        }
    }
    &__description {
        font-size: 13px;
        z-index: 400;
    }
    &__main-img {
        position: absolute;
        right: -20px;
        bottom: -45px;
        left: 200px;
        height: 240px;
        z-index: 200;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    &__secondary-img {
        position: absolute;
        top: 50%;
        right: 100px;
        bottom: -40px;
        left: -40px;
        z-index: 200;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 10;
    }
}
