.c-timer {
    color: white;
    font-size: 13px;
    font-weight: 300;
    &__description {
        display: inline-block;
        line-height: 1.6em;
    }
    &__numbers-list {
        display: inline-block;
    }
    &__num-list-item {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        &:last-child {
            padding-right: 0;
        }
        div {
            &:nth-child(1) {
                font-size: 24px;
                font-weight: 500;
                &:after {
                    content: ':';
                    display: inline-block;
                    position: absolute;
                    left: 110%;
                }
            }
        }
        &:last-child {
            div {
                &:nth-child(1) {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}
