$c-top-slider-item-padding: 400px;
$c-top-card-item-padding-x: 30px;
$c-top-max-width-topcard-header: 350px;
.c-top {
    .c {
        @include a-top-2() {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__slider-wrap {
        overflow: hidden;
        max-height: 480px;
    }
    &__slider {
        display: block;
        width: 100%;
        &:after {
            @extend .clearfix;
        }
    }
    &__slider-item {
        width: 100%;
        float: left;
        &:focus {
            outline: none;
        }
    }
    .slick-track {
        &:after {
            @extend .clearfix;
        }
    }
    &__slider-dots-wrap {
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        z-index: 1000;
        @include a-top-2() {
            bottom: 50%;
            top: auto;
            right: 0;
            left: 0;
        }
    }
    &__slider-dots-table {
        display: table;
        width: 20px;
        height: 100%;
        @include a-top-2() {
            width: 100%;
        }
        .slick-dots {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            li {
                display: block;
                width: 12px;
                height: 10px;
                margin-bottom: 12px;
                margin-top: 12px;
                overflow: hidden;
                @include a-top-2() {
                    display: inline-block;
                    margin-left: 6px;
                    margin-right: 6px;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background-color: #637388;
                    position: absolute;
                    top: 3px;
                    left: 4px;
                    pointer-events: none;
                    border-radius: 5px;
                    opacity: 0.3;
                }
                &.slick-active:after {
                    opacity: 0.7;
                }
                button {
                    opacity: 0;
                    width: 12px;
                    height: 10px;
                    cursor: pointer;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &__slider-inner {
        width: 100%;
        &:after {
            @extend .clearfix;
        }
    }
    &__card-item {
        float: left;
        &:nth-last-child(2) {
            width: 50%;
            padding-right: $c-top-card-item-padding-x / 2;
        }
        &:nth-child(2) {
            width: 50%;
            padding-left: $c-top-card-item-padding-x / 2;
        }
        &:first-child:last-child {
            width: 100%;
            .c-topcard__header {
                max-width: 50%;
            }
        }
        @include a-top-2() {
            width: 100% !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
            position: relative !important;
        }
    }
    &__slider-item {
        width: 100%;
        &:after {
            @extend .clearfix;
        }
        @include a-top-1() {
            .c-topcard__main-img {
                bottom: 25px;
                left: 100px;
                height: 200px;
            }
        }
        &--big-left {
            .c-top__slider-inner {
                padding-right: $c-top-slider-item-padding;
                @include a-top-2() {
                    padding-right: 0;
                }
            }
            .c-top__card-item {
                padding-right: 0;
                padding-left: 0;
                &:nth-child(2) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: $c-top-slider-item-padding - $c-top-card-item-padding-x;
                    .c-topcard__main-img {
                        bottom: 30px;
                        left: 20px;
                    }
                }
                &:nth-child(1) {
                    width: 100%;
                    .c-topcard__header {
                        max-width: $c-top-max-width-topcard-header;
                    }
                }
            }
        }
        &--big-right {
            .c-top__slider-inner {
                padding-left: $c-top-slider-item-padding;
                @include a-top-2() {
                    padding-left: 0;
                }
            }
            .c-top__card-item {
                padding-right: 0;
                padding-left: 0;
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: $c-top-slider-item-padding - $c-top-card-item-padding-x;
                    .c-topcard__main-img {
                        bottom: 30px;
                        left: 20px;
                    }
                }
                &:nth-child(2) {
                    width: 100%;
                    .c-topcard__header {
                        max-width: $c-top-max-width-topcard-header;
                    }
                }
            }
        }
    }
}
