$g-main-color: #1565C0;
$g-active-color: red;

/**********************************
Описание
**********************************/

/*** Общие вертикальные отступы
    .gpt и .gpb
Классы ".gpt" (global-padding-top) и ".gpb" (global-padding-bottom) описываются в файле "/pessio/_a.scss";
Они отвечают за верхний и нижний вертикальный внутренний отступ соответственно;
Подключаются через "@extend .gpt;" и/или "@extend .gpb;" для нужного класса;
Используются в сочетании (.gpt и .gpb) в таких блоках:
.c-cards, .c-inside-description, .c-inside-docs, .c-inside-fact, .c-inside-ol, .c-inside-table, .c-inside-team, .c-inside-ul, .c-tables;
Используются в сочетании (только .gpt) в таких блоках:
.c-app;

*/


/**********************************
font-family
**********************************/



/*********************
spacer
*********************/

$spacer:              10px;


/*********************
grid-system
*********************/

$gridSystem:          25, 50, 100;


/*********************
Медиа-выражения и grid-points
*********************/

/*** Медиа-выражения

*------------------------------------------------------------*
| Миксины для медиавыражений заданы в файле "pessio/_m.scss"; |
|             Система гридов задана в файле "pessio/_g.scss"; |
*------------------------------------------------------------*

*------------------------------------------------------------------------------------------------------------*
|   --Видимость медиа выражений--      --Пример использования--         --Система сеток--                    |
| A         B         C         D         E																	 |
| -∞        $b        $c        $d       +∞																	 |
| +++++++++++++++++++++++++++++++++++++++++                                   col-(25/33/50/66/100)			 |
| ++++++++++++++++++++++++++++++|----------      @include ad() { ... }        col-ad-(25/33/50/66/100)		 |
| ++++++++++++++++++++|--------------------      @include ac() { ... }        col-ac-(25/33/50/66/100)		 |
| ++++++++++|------------------------------      @include ab() { ... }        col-ab-(25/33/50/66/100)		 |
| ------------------------------|++++++++++      @include de() { ... }										 |
| --------------------|++++++++++++++++++++      @include ce() { ... }										 |
| ----------|++++++++++++++++++++++++++++++      @include be() { ... }										 |
| ----------|+++++++++++++++++++|----------      @include bd() { ... }										 |
| ----------|+++++++++|--------------------      @include bc() { ... }										 |
| --------------------|+++++++++|----------      @include cd() { ... }										 |
| 																											 |
|      A1    A4      A2        A3          																	 |
| -∞   $a1   $a4     $a2       $a3       +∞																	 |
| +++++|-----------------------------------      @include a1() { ... }        col-a1-(25/33/50/66/100)		 |
| +++++++++++|-----------------------------      @include a4() { ... }										 |
| +++++++++++++++++++|---------------------      @include a2() { ... }										 |
| +++++++++++++++++++++++++++++|-----------      @include a3() { ... }										 |
| 																											 |
|            E2           E1               																	 |
| -∞         $e2          $e1            +∞																	 |
| -----------|+++++++++++++++++++++++++++++      @include e2() { ... }										 |
| ------------------------|++++++++++++++++      @include e1() { ... }										 |
| 																											 |
|        P1(1)                 P1(2)       	   																 |
| -∞     $p1[1]                $p1[2]    +∞	   																 |
| -------|+++++++++++++++++++++|-----------      @include p1() { ... }										 |
*------------------------------------------------------------------------------------------------------------*
*/
$a1:                  776px;
$a2:                  500px;

$b:                   900px;
$c:                   1100px;
$d:                   1250px;

$e1:                  1700px;
$e2:                  900px;

$p1:                  630px, 1000px;
$p2:                  $a2, $e2;


$a-top-1:             1150px;
$a-top-2:             999px;

/*********************
width for center blocks
*********************/

/*
 some page
 ___________________________________________________
|.w    _______________________________________	    |
|     |.c (max-width: $max-width;)			  |	    |
|     | _____________________________________ |	    |
|     ||div					                 ||	    |
|     ||									 ||	    |
|     | ------------------------------------- |	    |
|     |    _______________________________	  |	    |
|     |   |.some-class (				  |	  |	    |
|     |   |max-width: $max-width-inside;) |	  |	    |
|     |    -------------------------------    |	    |
|      --------------------------------------- 	    |
 ---------------------------------------------------

*/
$max-width:           1170px;
$max-width-inside:    800px;
